@charset "utf-8";

#wrapper {
  	width: 600px;
	height: 1000px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}

#header {
	width: 600px;
	height: 180px;
	/*background-color: #02626b;*/
}

#content {
    width: 600px;
	min-height: 500px;
	/*height: 600px;*/
}

#footer {
	width: 600px;
	height: 20px;
	clear: both;
	margin-top: 100px;
}

#playlist {
	margin-left: 95px;
	margin-right: 95px;
	margin-bottom: 20px;
}

body {
  	background-image: url("pic/black_paper.png");
	color:#ffffff;
	font-family: 'Consolas';
}

a img {
	border:none;
}

a:link {
 color: #04abdb; 
}

a:visited { 
  color: #04abdb;
}

a:active { 
  color: #02626b;  /*#ffe0bd;*/
} 

a:hover { 
  color: #84035b; /* #ffb35b;*/
}

img {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: auto;
}
